<h1>Welcome!</h1>
<!--<p> <b>Data: </b> <%#= data_ptbr(Date.today) %></p>-->
<p> <b>Data: </b> <%= Date.today %></p>

<%= render "menu" %>

<p>Apps running in <strong> <%= whos_ambient_rails %></strong></p>

</br>
<p><strong>INSTANCE/SESSION VARIABLES</strong></p>
<p>User - <strong> <%= @nome %></strong></p>
<p>Course - <strong> <%= @curso %></strong></p>
