<h1>Welcome!</h1>
<p> <b>Data: </b> <%= data_ptbr(Date.today) %></p>
<ul>
  <li>
    <%= link_to "Register Coins", coins_path %>
  </li>
</ul>

<p>Apps running in <strong> <%= whos_ambient_rails %></strong></p>

</br>
<p><strong>INSTANCE/SESSION VARIABLES</strong></p>
<p>User - <strong> <%= @nome %></strong></p>
<p>Course - <strong> <%= @curso %></strong></p>
