<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">
    <%= label_tag nil, @coin.class.human_attribute_name(:description) %>
    <%= text_field_tag nil,@coin.description, class:"form-control", disabled:true%>
  </div>

  <div class="form-group">
    <%= label_tag nil,  @coin.class.human_attribute_name(:acronym) %>
    <%= text_field_tag nil, @coin.acronym, class:"form-control", disabled:true %>
  </div>

  <div class="form-group">
    <%= label_tag nil ,  @coin.class.human_attribute_name(:url_image)%>
    <%= text_field_tag nil, @coin.url_image, class:"form-control", disabled:true %>
    <%#= image_tag coin.url_image, size: 35 %>
  </div>

  <div class="form-group">
    <%=label_tag nil ,  @coin.class.human_attribute_name(:mining_type_id) %>
    <%#= coin.mining_type.description %>
    <%#= form.select("mining_type_id", @mining_type_options, { include_blank:true }, class:"form-select") %>
    <%= text_field_tag nil, @coin.mining_type_id, class:"form-control", disabled:true %>
  </div>

  </br>

</form>

<%= link_to I18n.t('links.edit'), edit_coin_path(@coin) , class:"btn btn-primary" %>
<%= link_to I18n.t('links.back'), coins_path , class:"btn btn-primary" %>
